kapitel3/tt1.dtd

<!ELEMENT Wörterbucheintrag (Lemma, Ursprung?, Grammatik?, Definition*)>
<!ELEMENT Lemma (Silbe+)>
<!ELEMENT Silbe ((Buchstabe-unbetont*|Buchstabe-betont?)+)>
<!ELEMENT Buchstabe-unbetont (#PCDATA)>
<!ELEMENT Buchstabe-betont (#PCDATA)>
<!ELEMENT Ursprung (#PCDATA)>
<!ELEMENT Grammatik (Geschlecht, (Deklinationstyp|Deklinationsinfo))>
<!ELEMENT Geschlecht (#PCDATA)>
<!ELEMENT Deklinationstyp (#PCDATA)>
<!ELEMENT Deklinationsinfo (#PCDATA)>